body{
  width:500px;
  margin:auto;
}
/* Style the header */
header{
  text-align:center;
}
.w_box {
  margin:auto;
  width:400px;
}
.w_box .cast{
  float:center;
}
.weather {
  float: center;
  background-color: #f9f9f9;
  margin:auto;
  width:100%;
  height: 175px;
  border-color:#dedede;
  border-style: dashed;
  border-width: thin;
  border-radius:15px;
}
small {
  text-align:left;
  font-family: 'Dotum';
  padding-left:5px;
}
.sensible_txt{
  font-family: Helvetica;
  font-size: 56px;
  margin-top: -20px;
  margin-bottom:-10px;
}
.highlow_temp{
  font-family: Helvetica;
  font-size: 25px;
  font-weight:250px;
  margin-top: -15px;
  padding-left:7px;
}
/* weather image css */
.w_img{
  display: inline-block;
  width:150px;
  float:left;
  /*argin-left:30px;*/
}
.cast {
  display: inline-block;
  float: left;
  padding: 0 0 0 40px;
}
.keyword{
  height:40px;
  border-radius: 15px;
  margin-top:10px;
}
